---
import type { TechItem } from '../../data/techStack';

interface Props {
  item: TechItem;
}

const { item } = Astro.props;

let iconUrl = '';
if (item.icon.type === 'simpleicons' && item.icon.value) {
  iconUrl = `https://cdn.simpleicons.org/${item.icon.value}/${item.icon.color || '000000'}`;
} else if (item.icon.type === 'skillicons' && item.icon.value) {
  iconUrl = `https://skillicons.dev/icons?i=${item.icon.value}`;
}
---

{item.icon.type === 'more' ? (
  <div class="tech-icon more" title={item.title}>
    <div class="tech-icon-more-symbol">
      +
    </div>
    <span class="tech-icon-label">{item.displayName}</span>
  </div>
) : item.icon.type === 'text' ? (
  <div class="tech-icon" title={item.title}>
    <div class="tech-icon-placeholder">
      {item.icon.value}
    </div>
    <span class="tech-icon-label">{item.displayName}</span>
  </div>
) : (
  <div class="tech-icon" title={item.title}>
    <img src={iconUrl} alt={item.displayName} />
    <span class="tech-icon-label">{item.displayName}</span>
  </div>
)}
